.btn-alert {
    width: 100%;
    background-color: rgb(0, 114, 114);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}

.btn-alert:hover {
    width: 100%;
    background-color: rgb(0, 134, 134);
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    .btn-alert {
        background-color: blue;
    }

    .btn-alert:hover {
        background-color: rgb(0, 45, 45)
    }
}

